//config

$white: #ffffff;
$mustard: #f9b43b;
$dark:#2f3234;
$orange:#e45028;
$gray: #2f3234;

$tablets:768px;
$phones:480px;
$iphone5:320px;

//mixin

@mixin dot{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

@function rem($px){
    @return $px  / 16px+0rem;
}

@mixin tablets{
    @media screen and (max-width:$tablets){
        @content;
    }
}

@mixin phones{
    @media screen and (max-width:$phones){
        @content;
    }
}

@mixin iphone5{
    @media screen and (max-width:$iphone5){
        @content;
    }
}


//base

@import "setup.scss";

//sections

@import "sections/hello.scss";
@import "sections/best.scss";
@import "sections/burgers.scss";
@import "sections/team.scss";
@import "sections/menu.scss";
@import "sections/feedback.scss";
@import "sections/order.scss";
@import "sections/map.scss";