@font-face {
	font-family: 'Gagalin';
	src: url('../fonts/Gagalin-Regular.woff2') format('woff2'),
		url('../fonts/Gagalin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifehack';
	src: url('../fonts/Lifehack-Medium.woff2') format('woff2'),
		url('../fonts/Lifehack-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.woff2') format('woff2'),
		url('../fonts/Ubuntu.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Light.woff2') format('woff2'),
		url('../fonts/Ubuntu-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
		url('../fonts/Ubuntu-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
		url('../fonts/Ubuntu-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Ubuntu;
    font-weight: 300;
    font-style: normal;
    line-height: 1.42;
    font-size: 18px;
    min-width: 1100px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper{
    width: 100%;
	height: 100%;
	position: relative;
	min-height: 0;
}

.content{
	height: 100%;
	min-height: 650px;
	transition: transform 0.7s;
    will-change: transform;
}

.section{
	height: 100%;
	min-width: 940px;
    min-height: 650px;
    background-color: #000000;
}

.container{
    max-width: 940px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}