@font-face {
	font-family: 'Gagalin';
	src: url('../fonts/Gagalin-Regular.woff2') format('woff2'),
		url('../fonts/Gagalin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifehack';
	src: url('../fonts/Lifehack-Medium.woff2') format('woff2'),
		url('../fonts/Lifehack-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.woff2') format('woff2'),
		url('../fonts/Ubuntu.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Light.woff2') format('woff2'),
		url('../fonts/Ubuntu-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
		url('../fonts/Ubuntu-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
		url('../fonts/Ubuntu-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Font Awesome';
	src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
		url('../fonts/fontawesome-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*{
    box-sizing: border-box;
}

html{
	font-size: 16px;

	@include tablets{
		font-size: 15px;
	}

	@include phones{
		font-size: 14px;
	}

	@include iphone5{
		font-size: 12px;
	}
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Ubuntu;
    font-weight: 300;
    font-style: normal;
    line-height: 1.42;
    font-size: rem(18px);
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

.wrapper{
    width: 100%;
	height: 100%;
	position: relative;
	min-height: rem(650px);
	overflow: hidden;
}

.content{
	height: 100%;
	min-height: rem(650px);
	transition: 1s;
    will-change: transform;
}

.section{
	height: 100vh;
    min-height: rem(650px);
	background-color: #000000;
	display: flex;
	overflow: hidden;
	position: relative;
}

.container{
	width: 95%;
	max-width: rem(940px);
	min-width: rem(320px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer{
	position: relative;
	width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}