.hello{
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;

    @include tablets{
        background: url(../img/tablets/bg1.jpg) no-repeat;
    }

    @include phones{
        background: url(../img/phones/bg1.jpg) no-repeat;
        background-size: cover;
    }
}

.header{
    padding-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets{
        justify-content: space-around;
        width: 100%;
    }
}

.logo{
    width: rem(100px);
    height: rem(75px);
    overflow: hidden;
    margin-top: rem(10px);
    margin-right: rem(220px);

    @include iphone5{
        margin-right: 0;
    }
}

.logo__img{
    max-height: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.nav{
    @include tablets{
        display: none;
    }
}


.nav__menu{
    display: flex;
}
.nav__item{
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;

    &:last-child {
		margin-right: 0;
		&:after {
			display: none;
		}
	}
}

.nav__item::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: white;
    margin: 0 rem(12px);
}

.nav__link{
    color: $white;
    text-decoration: none; 
    font-weight: 500;
    font-size: rem(13px);

    &:hover{
        text-decoration: underline;
    }
}

.order__btn-block{
    @include tablets{
        margin-left: auto;
    }
}

.order__btn{
    color: $white;
    font-weight: 500;
    font-size: rem(13px);
    background-color: $orange;
    padding: rem(10px);
    border-radius: rem(4px);
    transition: .3s;
    margin-left: rem(15px);
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover{
        background-color: darken($orange, 10%);
    }
}

.container-main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.main-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: rem(80px);

    @include tablets{
        flex-direction: column;
        padding: 0 rem(140px);
    }
}

.main__pic{
    margin-left: rem(20px);
    margin-right: rem(15px);
}

.main__img{
    @include iphone5{
        width: 100%;
    }
}

.main__text{
    padding-top: rem(30px);

    @include tablets{
        padding-top:0;
        text-align: center;
    }
}

.main__title{
    font-family: Gagalin;
    color: $mustard;
    font-size: rem(72px);
    padding-bottom: rem(15px);
    font-weight: normal;
    font-style: normal;

    @include iphone5{
        font-size: rem(65px);
    }
}

.main__desc{
    font-family: Lifehack;
    color: $white;
    font-size: rem(65px);
    line-height: rem(60px);

    @include iphone5{
        font-size: rem(55px);
    }
}

.arrow{
    display: flex;
    justify-content: center;
}

.hamburger__menu-link{
    vertical-align: middle;
    position: relative;
    height: 1.375rem;
    align-items: center;
    margin-left: 1.875rem;
    display: none;

    @include tablets{
        display: inline-flex;
    }
}

.hamburger__bars {
	&, &:before, &:after {
		background: $white;
		width: 24px;
		height: 5px;
		border-radius: 3px;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

.points__list{
    position: fixed;
    top: 21%;
    right: 4%;
}

.points__item{
    margin-bottom: rem(5px);
}

.points__link{
    width: rem(16px);
    height: rem(16px);
    display: block;
    position: relative;

    &::before{
        width: 0;
        height: 0;
        border-radius: 50%;
        border: 1px solid $white;
        opacity: 0;
        transition: .3s;
        @include dot;
    }

    &::after{
        width: rem(6px);
        height: rem(6px);
        background: $white;
        @include dot;
    }

    &:hover{
        outline-width: 0;
    }

}

.points__item--active .points__link::before, .points__link:hover:before{
    width: rem(14px);
    height: rem(14px);
    opacity: 1;
}

