.map{
    background: url(../img/bg8.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.footer__container{
    display: flex;
    flex-direction: row;
    padding-top: rem(10px);

    @include phones{
        flex-direction: column;
    }
}

.footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(58px);
    background: url(../img/footer.jpg) center bottom;
    position: absolute;

    @include phones{
        height: 10%;
    }

    @include iphone5{
        height: 13%;
    }

}

.footer__left, .footer__right{
    width: 50%;

    @include phones{
        width: 100%;
        text-align: center;
    }
    
}

.footer__right{
    text-align: right;

    @include phones{
        text-align: center;
        margin-top: rem(10px);
    }
}



.footer__address{
    font-weight: 300;
    font-size: rem(14px);
    color: $white;
}

.footer__phone{
    font-weight: bold;
    font-size: rem(14px);
    color: #e45028;
    text-decoration: none;
}

.fa-phone{
    padding-right: rem(10px);
}

.socials__list{
    display: inline-flex;
}

.socials__link{
    margin-right: rem(20px);
}


.socials__icon{
    fill: rgba($white, .3);
    width: rem(20px);
    height: rem(20px);
    transition: .3s;

    &:hover{
        fill: $white;
    }
}
